
.navbar {
    display: flex;
    background-color: black;
    height: 60px;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
}

.logoImage{
    object-fit: contain;
    margin-left: 100px;
    background-color: black;
}

.menu {
    height: 60px;
    margin-right: 100px;
    background-color: black;
}

.menu-item {
    color: white;
    display: inline-block;
    padding: 20px 30px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    background-color: black;
}

.home{
    color: white;
    text-decoration: none;
    background-color: black;
}

.home:hover {
    color: red;
}

.whereToBuy{
    color: white;
    text-decoration: none;
    background-color: black;
}

.whereToBuy:hover{
    color: red;
}

.contact{
    color: white;
    text-decoration: none;
    background-color: black;
}

.contact:hover{
    color: red;
}

.about{
    color: white;
    text-decoration: none;
    background-color: black;
}

.about:hover{
    color:red;
}

.bar {
    display: flex;
    background-color: rgb(39, 39, 39);
    height: 60px;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

.bar-item{
    color: white;
    display: inline-block;
    padding: 20px 30px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    background-color: rgb(39, 39, 39);
}

.mouseAndKeyboard{
    color: white;
    text-decoration: none;
    background-color: rgb(39, 39, 39);
}

.mouseAndKeyboard:hover{
    color:red;
}

.speaker{
    color: white;
    text-decoration: none;
    background-color: rgb(39, 39, 39);
}

.speaker:hover{
    color:red;
}

.charger{
    color: white;
    text-decoration: none;
    background-color: rgb(39, 39, 39);
}

.charger:hover{
    color:red;
}

.headphone{
    color: white;
    text-decoration: none;
    background-color: rgb(39, 39, 39);
}

.headphone:hover{
    color:red;
}

.other{
    color: white;
    text-decoration: none;
    background-color: rgb(39, 39, 39);
}

.other:hover{
    color: red;
}