* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    
}

.main_page {
    height: 600px;
    width: 100vw;
}

.title {
    display: flex;
    height: 60px;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-color:  rgb(121, 9, 9);
    color: white;
    font-weight: bold;
    font-family: Arial, sans-serif;
}


.images {
    display: flex;
    justify-content: space-evenly;
    margin: 100px 0px 10px 0px;
}

.image {
    height: 300px;
    width: 300px;
    object-fit: contain;
}

.name {
    display: flex;
    justify-content: space-evenly;
    margin: 10px 0px 100px 0px;
}

.Buy {
    display: flex;
    justify-content: center;
    width: 300px;
    font-weight: bold;
    font-family: Arial, sans-serif;
}

.support_image{
    display: flex;
    justify-content: center;  
    align-items: center;  
    margin-top: 100px;   
}

.about_us_text_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px;
    margin-bottom: 300px;
}

.about_us_text {
    display: flex;
    justify-content: center;  /* horizontal center */
    align-items: center;
    text-align: center;  
    width: 1000px;
    margin: 10px;
}

.form-container {
  max-width: 400px;
  margin: 60px auto;
  padding: 2rem;
  background: white;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  border: 1px solid black;
}

h1,h2,h3,h4,h5,h6,a{
    font-family: Arial, sans-serif;
}
